[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
